@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

[data-color-mode="dark"] .wmde-markdown,
[data-color-mode="dark"] .wmde-markdown-var {
  --color-canvas-default: #1f1f1f !important;
  --color-canvas-subtle: #1f1f1f !important;
}
