@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbars */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Codex Editor Heading Styles */
.codex-editor h1 {
  @apply text-4xl font-bold;
}

.codex-editor h2 {
  @apply text-3xl font-bold;
}

.codex-editor h3 {
  @apply text-2xl font-bold;
}

.codex-editor h4 {
  @apply text-xl font-bold;
}
